[submodule "SMARTFramework/Redland-ObjC"]
	path = SMARTFramework/Redland-ObjC
	url = git://github.com/p2/Redland-ObjC.git
	pushURL = git@github.com:p2/Redland-ObjC.git
[submodule "SMARTFramework/MPOAuth"]
	path = SMARTFramework/MPOAuth
	url = git://github.com/chb/MPOAuth.git
	pushURL = git@github.com:chb/MPOAuth.git
[submodule "SMARTMedSample-ios"]
	path = SMARTMedSample-ios
	url = git://github.com/p2/SMARTMedSample-ios.git
[submodule "smart_common"]
	path = smart_common
	url = git://github.com/chb/smart_common.git
