.DS_Store

# don't version the Docs directory
Docs

# Xcode user data
!*.xcodeproj/project.pbxproj
xcuserdata

# ignore config
Config.h

# ignore smart.owl that we use when generating the classes
smart.owl

