[submodule "Redland-ObjC"]
	path = Redland-ObjC
	url = git://github.com/p2/Redland-ObjC.git
	pushURL = git@github.com:p2/Redland-ObjC.git
[submodule "MPOAuth"]
	path = MPOAuth
	url = git://github.com/chb/MPOAuth.git
	pushURL = git@github.com:chb/MPOAuth.git
[submodule "SMARTMedSample-ios"]
	path = SMARTMedSample-ios
	url = git://github.com/p2/SMARTMedSample-ios.git
[submodule "smart_client_python"]
	path = smart_client_python
	url = git@github.com:chb/smart_client_python.git
